<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{{cookiecutter.project_name}}{% endblock %}</title>

    {% include 'emails/styles.html' %}

    <!--[if gte mso 9]>
      {# Garbage styles for garbage email clients #}
      <style>
        td {
          font-family:'Arial','sans-serif';
        }

        .eml-Column-first {
          width: 60%;
        }

        .eml-Column-second {
          width: 39%;
        }

        form {
          display: none;
        }
      </style>
    <![endif]-->
  </head>

  {# Classes can be used everywhere except on the body - Outlook #}
  <body style="width:100%;margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background:#fff;font-family:'Arial','sans-serif';">

    {# Body wrapper #}
    <table cellpadding="0" cellspacing="0" border="0" class="eml-Body">
      <tr>
        <td valign="top">
          {# Edge wrapper #}
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="eml-Body_Wrapper">
            <tr>
              <td valign="top" class="eml-Body_Cell">

                {# Header #}
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                  <tr>
                    <td valign="middle" align="left" width="600" class="eml-Header_Cell">
                      <h3 class="eml-Header_Title">
                        {% block heading %}
                        {% endblock %}
                      </h3>
                    </td>
                    <td align="right" class="eml-Header_Cell">
                      <img src="{{ email_url(static('img/logo-email.png')) }}" width="60" height="60"/>
                    </td>
                  </tr>
                </table>
                {# End Header #}

                {# Content #}
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="eml-Content">
                  <tr>
                    <td valign="top" class="eml-Content_Cell">
                      <table align="left" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td valign="top">
                              {% block content %}{% endblock %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  {#
                  'Flexed' container that sits under the content
                  <tr>
                    <td>
                      <table align="left" cellpadding="0" cellspacing="0" width="100%" class="eml-Columns">
                        <tbody>
                          <tr>
                            <td valign="top" class="eml-Columns_Cell">
                              <table class="eml-Column eml-Column-first" align="left">
                                <tr>
                                  <td>
                                    <p class="eml-Column_Text">
                                      {% block bottom_text %}
                                      {% endblock %}
                                    </p>
                                  </td>
                                </tr>
                              </table>
                              <table valign="top" class="eml-Column eml-Column-second" align="right">
                                <tr>
                                  <td valign="top" align="right">
                                    {% block bottom_link %}
                                    {% endblock %}
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  #}
                </table>
                {# End Content #}

                {# Footer #}
                <table cellpadding="0" cellspacing="0" width="600" id="templateHeader" class="eml-Footer">
                  <tr>
                    <td valign="top">
                      <table cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td valign="top" class="eml-Footer_Cell">
                              <p class="eml-Footer_Text">
                                {% block footer %}
                                {% endblock %}
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                {# End Footer #}
              </td>
            </tr>
          </table>
          {# End Edge Wrapper #}
        </td>
      </tr>
    </table>
    {# End Body wrapper #}
  </body>
</html>
