{% extends 'emails/base.html' %}

{% block content %}
  <p>{{ user.first_name }}</p>

  <p>You asked us to reset your {{ settings.SITE_NAME }} password.</p>

  <p>If you want to reset your password <a href="{{ protocol }}://{{ domain }}{{ url('password_reset_confirm', uidb64=uid, token=token) }}">please click here</a>.</p>

  <p>Please note that this reset link will expire in 3 days.</p>

  <p>Common login problems:</p>

  <ol>
    <li>Only use the email address that is registered with {{ settings.SITE_NAME }} (that will be the one that this email has been sent to).</li>
    <li>Double check the login details you are entering. Be careful when typing your email address and password as sometimes it's easy to mistype them especially on tablets and phones.</li>
    <li>Close and restart your browser, and ideally clear your cache, cookies and history, before attempting to log in with your new password.</li>
    <li>Check that any password managers that you are using are not automatically entering incorrect or outdated email addresses or passwords.</li>
  </ol>

  <p>Thanks for using {{ settings.SITE_NAME }}.</p>
{% endblock %}
