{% extends "news/base.html" %}
{% import "components/macros/components.html" as components %}
{% import "news/macros/news.html" as news %}

{% block schema %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      {% if cookiecutter.people == 'yes' %}{% if article.author %}"author": "{{ article.author }}",{% endif %}{% endif %}
      "name": "{{ article.title }}”,
      “headline”: "{{ article.title }}”,
      {% if article.image %}
      {% set img = thumbnail(article.image.file, "1500") %}
      "image": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "name": "{{ article.image.title }}",
        "url": "http{{ 's' if request.is_secure else '' }}://{{ request.META.HTTP_HOST }}{{ img.url }}",
        "height": "{{ img.height }}",
        "width": "{{ img.width }}"
        {% if article.image.alt_text %}, "description": "{{ article.image.alt_text }}"{% endif %}
        {% if article.image.attribution %}, "author": "{{ article.image.attribution }}"{% endif %}
        {% if article.image.copyright %}, "copyrightHolder": "{{ article.image.copyright }}"{% endif %}
      },
      {% endif %}
      {% if article.card_image %}
      {% set img = thumbnail(article.card_image.file, "1500") %}
      "thumbnailURL": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "name": "{{ article.card_image.title }}",
        "url": "http{{ 's' if request.is_secure else '' }}://{{ request.META.HTTP_HOST }}{{ img.url }}",
        "height": "{{ img.height }}",
        "width": "{{ img.width }}"
        {% if article.card_image.alt_text %}, "description": "{{ article.card_image.alt_text }}"{% endif %}
        {% if article.card_image.attribution %}, "author": "{{ article.card_image.attribution }}"{% endif %}
        {% if article.card_image.copyright %}, "copyrightHolder": "{{ article.card_image.copyright }}"{% endif %}
      },
      {% endif %}
      {% if article.summary %}“text”: “{{ article.summary }}”,{% endif %}
      “articleBody”: “{{ article.content }}”,
      {% if article.categories %}“keywords”: “{% for category in article.categories %}{{ category }},{% endfor %}”,{% endif %}
      “inLanguage”: {
        "@type": "Language",
        "name": ["English"]
      }
      "dateCreated": "{{ article.date_created }}",
      "dateModified”: "{{ article.last_modified }}",
      "datePublished”: "{{ article.date_created }}",
      “wordCount”: “{{ article.article_length() }}”,
    }
  </script>
{% endblock %}

{% block content_above %}
  <section class="pg-LandingHero pg-LandingHero-hasOverhang">
    <div class="pg-LandingHero_Inner">
      <div class="pg-LandingHero_Body">
        <p class="pg-LandingHero_Kicker">{{ pages.current.content.hero_kicker or pages.current }}</p>
        <h1 class="pg-LandingHero_Title">{{ article.title }}</h1>
      </div>
    </div>

    <div class="pg-LandingHero_Overhang">
      <div class="pg-LandingHero_OverhangInner">
        <div class="pg-LandingHero_OverhangBody">
          <div class="pg-LandingHero_ImageContainer">
            {% if article.image %}
              {{ render_lazy_image(article.image) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block main %}
  <article class="nws-Article">
    <div class="wys-WYSIWYG">
      {{ article.content|html }}
    </div>
  </article>
{% endblock %}

{% block content_below %}
  <section class="sec-Section">
    <div class="sec-Section_Inner">
      <header class="sec-Section_Header">
        <h2 class="sec-Section_Title">Related articles</h2>
        <p class="sec-Section_Text">You might be interested in some of our other articles</p>
      </header>

      <div class="sec-Section_Body">
        {{ news.article_list(article.get_related_articles()) }}
      </div>
    </div>
  </section>

  {% set cta = object is defined and object.call_to_action or pages.current.content.call_to_action %}
  {% if cta %}
    {{ components.call_to_action(cta) }}
  {% endif %}
{% endblock %}
