<nav class="nav-Header">
  <div class="nav-Header_Trigger">
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-top"></span>
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-middle"></span>
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-bottom"></span>
  </div>

  <ul class="nav-Header_Items" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    {% for entry in navigation %}
      {% if loop.first %}
        <li class="nav-Header_Item nav-Header_Item-home" {% if request.path == '/' %}aria-current="page"{% endif %}>
          <a class="nav-Header_Link" href="/" itemprop="url">
            <span itemprop="name">Home</span>
          </a>
        </li>
      {% endif %}
      <li class="nav-Header_Item{% if entry.children %} nav-Header_Item-hasDropdown{% endif %}"
          {% if entry.here %}aria-current="page"{% endif %}>
        <a class="nav-Header_Link" href="{{ entry.url }}" itemprop="url">
          <span itemprop="name">{{ entry.page }}</span>

          {% if entry.children %}
            <span class="nav-Header_LinkIcon">
              {% include 'dropdown.svg' %}
            </span>
          {% endif %}
        </a>

        {% if entry.children %}
          <ul class="nav-Header_Dropdown" data-hasDropdown>
            {% for sub_entry in entry.children recursive %}
              {% if loop.first %}
                <li class="nav-Header_DropdownItem nav-Header_DropdownItem-back">
                  <div class="nav-Header_Link nav-Header_Link-dropdown">
                    <span class="nav-Header_LinkIcon nav-Header_LinkIcon-dropdown">
                      {% include 'dropdown.svg' %}
                    </span>
                    Back
                  </div>
                </li>

                <li class="nav-Header_DropdownItem nav-Header_DropdownItem-parent">
                  <a class="nav-Header_Link nav-Header_Link-dropdown" href="{{ sub_entry.page.parent.get_absolute_url() }}">
                    {{ sub_entry.page.parent }}
                  </a>
                </li>
              {% endif %}
              <li class="nav-Header_DropdownItem{% if recursive and sub_entry.children %} nav-Header_Item-hasDropdown{% endif %}">
                <a class="nav-Header_Link nav-Header_Link-dropdown" href="{{ sub_entry.url }}" itemprop="url">
                  <span itemprop="name">{{ sub_entry.page }}</span>

                  {% if sub_entry.children %}
                    <span class="nav-Header_LinkIcon nav-Header_LinkIcon-dropdown">
                      {% include 'dropdown.svg' %}
                    </span>
                  {% endif %}
                </a>

                {% if recursive %}
                  {% if sub_entry.children %}
                    <ul class="nav-Header_DropdownChild" data-hasDropdown>
                      {{ loop(sub_entry.children) }}
                    </ul>
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}

    {% set header = get_header_content() %}

    {% if header and header.headerlink_set.all() %}
      {% for link in header.headerlink_set.all() %}
        <li class="nav-Header_Item nav-Header_Item-extra">
          <a class="nav-Header_Link" href="{{ link.link_location }}">{{ link.link_text }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</nav>
