/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| The global site header that appears at the top of every page
|
| @namespace: hd-
|
*/
.hd-Header {
  position: relative;
  z-index: 10;

  height: var(--Mobile_NavHeight);

  background-color: #fff;
  border-bottom: 1px solid var(--Color_Border);

  @media (--lg) {
    height: var(--Desktop_NavHeight);
  }
}

.hd-Header_Inner {
  @include Grid_Container;

  height: 100%;
}

.hd-Header_Body {
  align-items: center;
  justify-content: space-between;

  display: flex;
  height: 100%;
}

/*
|--------------------------------------------------------------------------
| Logo
|--------------------------------------------------------------------------
|
*/
.hd-Header_Logo {
  display: block;
  width: calc(width('logo.png') / 2);
  height: calc(height('logo.png') / 2);

  background-image: resolve('logo.png');
  background-size: @width @height;

  @media (--lg) {
    width: width('logo.png');
    height: height('logo.png');

    background-size: @width @height;
  }
}

/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
|
*/
.hd-Header_Nav {
  height: 100%;
}

/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
|
*/
.hd-Header_Search {
  margin-left: calc(var(--Grid_Gutter) * 2);
}
