/* We use an order that is beneficial for a 'settings' file */
/* stylelint-disable */
:root {
  /*
  |--------------------------------------------------------------------------
  | Colours
  |--------------------------------------------------------------------------
  |
  */
  --Color_Brand: #242224;

  --Color_Anchor: #702670;
  --Color_Body: #5c748c;
  --Color_Border: #d0d5d8;

  /*
  |--------------------------------------------------------------------------
  | Fonts
  |--------------------------------------------------------------------------
  |
  */
  /**
  * Font - Families
  */
  --Font_Family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --Font_Family-body: var(--Font_Family);

  /*
  |--------------------------------------------------------------------------
  | Grid
  |--------------------------------------------------------------------------
  |
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1240px;
  --Grid_Gutter: 15px;
  /* This differentiates to the Grid_Gutter in that this is used for the inside of panels and
   cards. On all old projects this has been styled by using the Grid_Gutter. This is wrong, it
   seemed right because the insides were normally 30ish and the Grid_Gutter was 30 as well so i
   just assumed a natural connection between the 2. This actually has been coincidental and it's
   just that we normally use a Grid_Gutter of 15 we haven't come across is */
  --Grid_Inside: 15px;

  /*
  |--------------------------------------------------------------------------
  | Miscellaneous
  |--------------------------------------------------------------------------
  |
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.2s;
  --Transition_EaseOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.075);

  /*
  |--------------------------------------------------------------------------
  | Styles
  |--------------------------------------------------------------------------
  |
  */
  font: 16px / 1.5;
  font-family: var(--Font_Family);

  cursor: auto;
}
/* stylelint-enable */
