/*
|--------------------------------------------------------------------------
| Redefine
|--------------------------------------------------------------------------
| Global resets to make life easier
|
*/

/*
|--------------------------------------------------------------------------
| Box sizing
|--------------------------------------------------------------------------
|
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
|--------------------------------------------------------------------------
| Viewports
|--------------------------------------------------------------------------
|
*/
@at-root {
  @viewport {
    width: device-width;
  }
}

/*
|--------------------------------------------------------------------------
| HTML / Body resets
|--------------------------------------------------------------------------
|
*/
html,
body {
  height: 100%;
}

html {
  /* Sets a specific default `font-size` for user with `rem` type scales. */
  font-size: map(fonts, sizes, root);
  /* Changes the default tap highlight to be completely transparent in iOS. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* This needs escaping so it doesn't double string */
  font-family: map(fonts, families, sans);
  /* Make the `body` use the `font-size-normal` */
  font-size: map(fonts, sizes, base, normal);
  line-height: map(fonts, lineHeights, base, normal);
  /* Go easy on the eyes and use something other than `#000` for text */
  color: map(colors, dark);
  /* By default, `<body>` has no `background-color` so we set one as a best practice. */
  background-color: #fff;
}

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Typography - Headings
|--------------------------------------------------------------------------
|
*/
:--headings {
  margin-top: 0;
}

/*
|--------------------------------------------------------------------------
| Typography - Paragraph
|--------------------------------------------------------------------------
|
*/
p {
  margin-top: 0;
  margin-bottom: 20px;
}

/*
|--------------------------------------------------------------------------
| Typography - Anchors
|--------------------------------------------------------------------------
|
*/
a {
  text-decoration: none;

  color: map(colors, anchor);
}

/*
|--------------------------------------------------------------------------
| Images
|--------------------------------------------------------------------------
|
*/
img {
  max-width: 100%;
  width: 100%;
}

/*
|--------------------------------------------------------------------------
| Tables
|--------------------------------------------------------------------------
|
*/
table {
  table-layout: fixed;
  width: 100%;
}
