/*
|--------------------------------------------------------------------------
| Defaults
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Media query definitions
|--------------------------------------------------------------------------
| The definitions used for all of our responsive changes. By default it will
| take the breakpoint supplied and apply the changes to that breakpoint and all
| the sizes above it.
|
| If you require styles to be applied to just a certain breakpoint you can use
| '{$size}-only' which will apply styles to just that size and not to sizes
| above it.
|
| Do not under ANY circumstances add a set of arguments that only apply a
| max-width so it applies to the size set and all sizes below. This is very
| bad practice.
|
| @size: Size that the styles will apply to and above
*/
@custom-media --xs (min-width: map(breakpoints, xs, 0));
@custom-media --sm (min-width: map(breakpoints, sm, 0));
@custom-media --md (min-width: map(breakpoints, md, 0));
@custom-media --lg (min-width: map(breakpoints, lg, 0));
@custom-media --xlg (min-width: map(breakpoints, xlg, 0));
@custom-media --xxlg (min-width: map(breakpoints, xxlg, 0));

/* Target just a specific viewport */
@custom-media --xs-viewport (min-width: map(breakpoints, xs, 0)) and (max-width: map(breakpoints, xs, 1));
@custom-media --sm-viewport (min-width: map(breakpoints, sm, 0)) and (max-width: map(breakpoints, sm, 1));
@custom-media --md-viewport (min-width: map(breakpoints, md, 0)) and (max-width: map(breakpoints, md, 1));
@custom-media --lg-viewport (min-width: map(breakpoints, lg, 0)) and (max-width: map(breakpoints, lg, 1));
@custom-media --xlg-viewport (min-width: map(breakpoints, xlg, 0)) and (max-width: map(breakpoints, xlg, 1));
@custom-media --xxlg-viewport (min-width: map(breakpoints, xxlg, 0)) and (max-width: map(breakpoints, xxlg, 1));
