/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  @apply --Button-base;
}

@mixin Button-primary {
  @include Button;
}

@mixin Button-secondary {
  @include Button;
}

/*
|--------------------------------------------------------------------------
| Clearfix
|--------------------------------------------------------------------------
|
*/
@mixin Clearfix {
  &::after {
    content: '';

    display: block;
    clear: both;
  }
}

/*
|--------------------------------------------------------------------------
| Intrinsic
|--------------------------------------------------------------------------
|
*/
@mixin Intrinsic($x: 16, $y: 9) {
  position: relative;
  z-index: 1;

  display: block;
  width: 100%;

  /* Disabling no-asterisk selector because this needs to work with any
  element. */
  /* stylelint-disable */
  > * {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
  /* stylelint-enable */

  &::before {
    content: '';

    display: block;
    padding-bottom: calc(100% / ($x / $y));
  }
}

/*
|--------------------------------------------------------------------------
| Resets
|--------------------------------------------------------------------------
|
*/
@mixin Reset_List {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*
|--------------------------------------------------------------------------
| Screen reader
|--------------------------------------------------------------------------
|
*/
@mixin HideForAllButScreenReader {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);

  overflow: hidden;
}
