:root {
  /**
  * Colors
  */
  --Color_Anchor: #702670;
  --Color_Body: #5c748c;
  --Color_Border: #d0d5d8;

  /**
  * Font - Families
  */
  --Font_Family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --Font_Family-body: var(--Font_Family);

  /**
  * Font - Sizes
  */
  --VerticalRhythmBaseline: 12px;

  --Font_Size-16: 16px;
  --Letter_Spacing-16: 0;
  --Line_Height-16: vrb(2);

  /**
  * Grid
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1240px;
  --Grid_Gutter: 15px;

  /**
  * Misc
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.16s;
}
