/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
|
*/
$Color_Anchor: #702670;
$Color_Blue: #064687;
$Color_Body: #5c748c;
$Color_Border: #d0d5d8;
$Color_Brand-blue: #036;
$Color_Brand-gold: #ead373;
$Color_Brand-maroon: #636;
$Color_Error: #ff3d00;
$Color_Grey: #eee;

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/
/**
* Colors
*/
$Font_Color-small: $Color_Blue;
$Font_Color-medium: $Color_Blue;
$Font_Color-large: $Color_Blue;
$Font_Color-standfirst: $Color_Blue;
$Font_Color-body: $Color_Blue;

/**
* Families
*/
$Font_Family-calluna: 'calluna', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$Font_Family-proxima: 'proxima-nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$Font_Family-sofia: 'sofia-pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$Font_Family-body: $Font_Family-proxima;

$Font_Family-small: $Font_Family-calluna;
$Font_Family-medium: $Font_Family-calluna;
$Font_Family-large: $Font_Family-calluna;
$Font_Family-standfirst: $Font_Family-calluna;
$Font_Family-body: $Font_Family-calluna;

/**
* Weights
*/
$Font_Weight-small: 600;
$Font_Weight-medium: 600;
$Font_Weight-large: 600;
$Font_Weight-standfirst: 600;
$Font_Weight-body: 600;

/**
* Sizes
*/
$Font_Size-small: 20px;
$Font_Size-medium: 24px;
$Font_Size-large: 32px;
$Font_Size-standfirst: 24px;
$Font_Size-body: 18px;

/**
* Sizes - Large breakpoint++
*/
$Font_Size-small--lg: $Font_Size-small;
$Font_Size-medium--lg: $Font_Size-medium;
$Font_Size-large--lg: $Font_Size-large;
$Font_Size-standfirst--lg: $Font_Size-standfirst;
$Font_Size-body--lg: 16px;

/**
* Line heights
*/
$Line_Height-small: calc($Font_Size-small + 8px);
$Line_Height-medium: calc($Font_Size-medium + 8px);
$Line_Height-large: calc($Font_Size-large + 4px);
$Line_Height-standfirst: calc($Font_Size-standfirst + 8px);
$Line_Height-body: calc($Font_Size-body + 10px);

/**
* Line heights - Large breakpoint++
*/
$Line_Height-small--lg: calc($Font_Size-small--lg + 8px);
$Line_Height-medium--lg: $Line_Height-medium;
$Line_Height-large--lg: calc($Font_Size-large--lg + 10px);
$Line_Height-standfirst--lg: $Line_Height-standfirst;
$Line_Height-body--lg: calc($Font_Size-body--lg + 10px);

/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
*/
$Grid_Constrained: 1600px;
$Grid_Container: 1240px;
$Grid_Gutter: 30px;

/*
|--------------------------------------------------------------------------
| Misc
|--------------------------------------------------------------------------
|
*/
$Global_Margin: 18px;
$Aside_Margin: 40px;
$Global_Transition: 0.16s;
