:root {
  /**
  * Colors
  */
  --Color_Anchor: #702670;
  --Color_Body: #5c748c;
  --Color_Border: #d0d5d8;

  /**
  * Font - Families
  */
  --Font_Family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --Font_Family-body: var(--Font_Family);

  /**
  * Font - Sizes
  */
  --Font_Size-sm: 16px;
  --Font_Size-md: 20px;
  --Font_Size-lg: 24px;
  --Font_Size-body: 16px;
  --Font_Size-standfirst: 20px;

  /**
  * Font - Sizes -- md
  */
  --Font_Size-sm--md: var(--Font_Size-sm);
  --Font_Size-md--md: var(--Font_Size-md);
  --Font_Size-lg--md: var(--Font_Size-lg);
  --Font_Size-body--md: var(--Font_Size-body);
  --Font_Size-standfirst--md: var(--Font_Size-standfirst);

  /**
  * Font - Line heights
  */
  --Line_Height-sm: 16px;
  --Line_Height-md: 20px;
  --Line_Height-lg: 24px;
  --Line_Height-body: 16px;
  --Line_Height-standfirst: 20px;

  /**
  * Font - Line heights -- md
  */
  --Line_Height-sm--md: var(--Line_Height-sm);
  --Line_Height-md--md: var(--Line_Height-md);
  --Line_Height-lg--md: var(--Line_Height-lg);
  --Line_Height-body--md: var(--Line_Height-body);
  --Line_Height-standfirst--md: var(--Line_Height-standfirst);

  /**
  * Font - Letter spacing
  */
  --Letter_Spacing-sm: 20em;
  --Letter_Spacing-md: 20em;
  --Letter_Spacing-lg: 20em;
  --Letter_Spacing-body: 20em;
  --Letter_Spacing-standfirst: 20em;

  /**
  * Font - Letter spacing -- md
  */
  --Letter_Spacing-sm--md: 20em;
  --Letter_Spacing-md--md: 20em;
  --Letter_Spacing-lg--md: 20em;
  --Letter_Spacing-body--md: 20em;
  --Letter_Spacing-standfirst--md: 20em;

  /**
  * Grid
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1240px;
  --Grid_Gutter: 30px;

  /**
  * Misc
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.16s;
}
