/*
|--------------------------------------------------------------------------
| Transitions
|--------------------------------------------------------------------------
| @namespace: trn-
|
*/

/*
|--------------------------------------------------------------------------
| Fade
|--------------------------------------------------------------------------
|
*/
.trn-Fade-enter-active, .trn-Fade-leave-active {
  transition: opacity 0.5s;
}

.trn-Fade-enter, .trn-Fade-leave-active {
  opacity: 0;
}

/*
|--------------------------------------------------------------------------
| Slide in
|--------------------------------------------------------------------------
|
*/
.trn-SlideIn-enter-active, .trn-SlideIn-leave-active {
  transition: transform 0.5s;
}

.trn-SlideIn-enter, .trn-SlideIn-leave-active {
  transform: translateX(100%);
}
