/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| The global site footer that appears at the bottom of every page
| @prefix: ft-
|
*/
