/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| The global site header that appears at the top of every page
|
| @prefix: hd-
|
*/

/*
|--------------------------------------------------------------------------
| Header - Logo
|--------------------------------------------------------------------------
|
*/
.hd-Logo {
  display: block;
  height: height(map-get($logo, file));
  width: width(map-get($logo, file));

  background-image: resolve(map-get($logo, file));
  background-repeat: no-repeat;
  background-size: #{'@width'} #{'@height'};

  @include breakpoint-gte(lg) {
    height: height(map-get($logo-lg, file));
    width: width(map-get($logo-lg, file));

    background-image: resolve(map-get($logo-lg, file));
    background-size: #{'@width'} #{'@height'};
  }
}
