/*
|--------------------------------------------------------------------------
| Edit bar
|--------------------------------------------------------------------------
| A global 'edit this thing' bar shown to logged-in admin users.
|
| @namespace: pg-
|
*/

.pg-EditBar {
  display: none;

  @media (--md) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: block;
    padding: 6px var(--Grid_Gutter);

    font-size: 14px;

    background-color: var(--Color_Body);
    color: #fff;
  }
}

.pg-EditBar_Columns {
  justify-content: space-between;

  display: flex;
}

.pg-EditBar_Column {
  align-items: center;

  display: flex;
}

.pg-EditBar_Title {
  font-weight: 700;
}

.pg-EditBar_Link {
  align-items: center;

  display: inline-flex;
  margin-left: var(--Grid_Inside);

  color: inherit;
  cursor: pointer;

  .svg-Image {
    width: 15px;
    height: 15px;
    margin-right: calc(var(--Grid_Inside) / 2);
  }

  .pg-EditBar_Divider + & {
    margin-left: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.pg-EditBar_Divider {
  margin: 0 var(--Grid_Inside);

  font-size: 12px;
}

.pg-EditBar_Image {
  margin-left: var(--Grid_Inside);
}
