/*
|--------------------------------------------------------------------------
| Grid utility classes
|--------------------------------------------------------------------------
|
| @namespace: .lst-
|
*/
@mixin TwoUp {
  width: calc((1 / 2) * 100% - var(--Grid_Gutter) * 2);
}

@mixin ThreeUp {
  width: calc((1 / 3) * 100% - var(--Grid_Gutter) * 2 - 1px);
}

@mixin FourUp {
  width: calc((1 / 4) * 100% - var(--Grid_Gutter) * 2);
}

.lst-Grid {
  @include Grid_Row;

  margin-bottom: calc(var(--Grid_Gutter) * -2);
}

.lst-Grid_Item {
  @include Grid_Column;

  flex-direction: column;

  display: flex;
  width: 100%;
  margin-bottom: calc(var(--Grid_Gutter) * 2);
}

.lst-Grid_Item-twoUp {
  @media (--sm) {
    @include TwoUp;
  }
}

.lst-Grid_Item-threeUp {
  @media (--sm) {
    @include TwoUp;
  }

  @media (--md) {
    @include ThreeUp;
  }
}

.lst-Grid_Item-fourUp {
  @media (--sm) {
    @include TwoUp;
  }

  @media (--md) {
    @include FourUp;
  }
}
