/*
|--------------------------------------------------------------------------
| Articles
|--------------------------------------------------------------------------
| @namespace: art-
|
*/

/*
|--------------------------------------------------------------------------
| Share button
|--------------------------------------------------------------------------
|
*/
.art-Share {
  display: none;

  @media (--sm) {
    align-items: center;

    display: flex;
    margin-left: auto;

    cursor: pointer;

    transition: color var(--Global_Transition);

    &:hover {
      color: var(--Color_Anchor);
    }
  }
}

.art-Share_Button {
  margin-left: 0.5vr;

  appearance: none;
  background-color: transparent;
  border: 0;

  & svg {
    width: 21px;
    height: 21px;

    color: var(--Color_Brand);
  }
}
