{% load cms_tags menu_tags %}

{% static_placeholder 'header' %}

{% comment %}
{% get_header_content as header %}
{% if header and header.headerlink_set.all() %}
  <div class="hd-Bar">
    <div class="hd-Bar_Inner">
      <div class="hd-Bar_Body">
        <ul class="hd-Bar_Items">
          {% for link in header.headerlink_set.all() %}
            <li class="hd-Bar_Item">
              <a class="hd-Bar_Link" href="{{ link.link_location }}">{{ link.link_text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
{% endcomment %}

<header class="hd-Header">
  <div class="hd-Header_Inner">
    <div class="hd-Header_Body">
      <a class="hd-Header_Logo" href="/"></a>

      <div class="hd-Header_Nav">
        {# http://docs.django-cms.org/en/latest/reference/navigation.html#show-menu #}
        {% show_menu 0 100 100 100 %}
      </div>
    </div>
  </div>
</header>
