{% load pages site %}

<header class="hd-Outer">
  <div class="hd-Inner">
    <a class="hd-Logo" href="{{ pages.homepage.get_absolute_url }}"></a>

    <nav class="hd-Nav">
      {% navigation pages.homepage.navigation section=pages.homepage %}
    </nav>

    <div class="hd-MobileNav_Trigger" @click="toggleMobileNav()">
      <div class="hd-MobileNav_TriggerLine hd-MobileNav_TriggerLine-top"></div>
      <div class="hd-MobileNav_TriggerLine hd-MobileNav_TriggerLine-middle"></div>
      <div class="hd-MobileNav_TriggerLine hd-MobileNav_TriggerLine-bottom"></div>
    </div>

    <mobile-nav></mobile-nav>
  </div>
</header>
