<script>
  (function () {
    if (!window.localStorage) {
      return
    }

    var cachePrefix = '_tk_cache_'
    var cacheKey = cachePrefix + '{{ settings.GIT_COMMIT_HASH }}';
    // {# Clear old cache keys. #}
    var localStorageKeys = Object.keys(window.localStorage)
    for (var i = 0; i < localStorageKeys.length; i++) {
      if (localStorageKeys[i].startsWith(cachePrefix) && localStorageKeys[i] !== cacheKey) {
        window.localStorage.removeItem(localStorageKeys[i])
      }
    }

    if (window.localStorage && window.localStorage.getItem(cacheKey)) {
      document.documentElement.classList.add('wf-active')
      var script = document.createElement('script')
      script.innerHTML = localStorage.getItem(cacheKey) + ";(function () {var timeout = setTimeout(function () {document.documentElement.classList.remove('wf-active');}, 300); Typekit.load({ async: false, active: function () { clearTimeout(timeout); }});})();";
      document.head.appendChild(script);
    }
    window._tk_onload = function () {
      var req = new XMLHttpRequest()
      req.addEventListener("load", function () {
        window.localStorage.setItem(cacheKey, this.responseText);
      });
      req.open("GET", "https://use.typekit.net/{{ settings.TYPEKIT_KIT_ID }}.js");
      req.send();
    };
  })();
</script>

<script async
        src="https://use.typekit.net/{{ settings.TYPEKIT_KIT_ID }}.js"
        onload="Typekit.load({ async: true, loading: window._tk_onload })"></script>
