/* This is used for multiple base styles so we need selector types */
/* stylelint-disable */
/*
|--------------------------------------------------------------------------
| Redefine
|--------------------------------------------------------------------------
| Global resets to make life easier
|
*/

/* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. This is an alias for "pan-x pan-y pinch-zoom" (which, for compatibility, is itself still valid). */
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  /* stylelint-disable property-no-vendor-prefix */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body:not(.util-IsTabbing) button:focus,
body:not(.util-IsTabbing) input:focus,
body:not(.util-IsTabbing) select:focus,
body:not(.util-IsTabbing) textarea:focus {
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| Viewports
|--------------------------------------------------------------------------
|
*/
@at-root {
  @viewport {
    width: device-width;
  }
}

/*
|--------------------------------------------------------------------------
| HTML / Body resets
|--------------------------------------------------------------------------
|
*/
html {
  /* Sets a specific default `font-size` for user with `rem` type scales. */
  font-size: 16px;
  /* Changes the default tap highlight to be completely transparent in iOS. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include Font_16-24;

  text-rendering: optimizeLegibility;

  /* By default, `<body>` has no `background-color` so we set one as a best practice. */
  background-color: #fff;
  color: var(--Color_Body);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Typography - Headings
|--------------------------------------------------------------------------
|
*/
:--headings {
  margin-top: 0;
  margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| Typography - Keyline
|--------------------------------------------------------------------------
|
*/
hr {
  border: 0;
  border-top: 1px solid var(--Color_Border);
}

/*
|--------------------------------------------------------------------------
| Typography - Lists
|--------------------------------------------------------------------------
|
*/
ul {
  @include Reset_List;
}

/*
|--------------------------------------------------------------------------
| Typography - Paragraph
|--------------------------------------------------------------------------
|
*/
p {
  margin-top: 0;
  margin-bottom: @margin-top;
}

/*
|--------------------------------------------------------------------------
| Typography - Anchors
|--------------------------------------------------------------------------
|
*/
a {
  font-weight: 500;
  text-decoration: none;

  color: var(--Color_Anchor);
}

/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
|
*/
input,
select,
textarea {
  font-family: inherit;
}

/*
|--------------------------------------------------------------------------
| Images
|--------------------------------------------------------------------------
|
*/
img {
  max-width: 100%;
}

/*
|--------------------------------------------------------------------------
| Tables
|--------------------------------------------------------------------------
|
*/
table {
  width: 100%;

  table-layout: fixed;
}
/* stylelint-enable */
