/* stylelint-disable */
/* This is used for multiple base styles so we need selector types */
/*
|--------------------------------------------------------------------------
| Redefine
|--------------------------------------------------------------------------
| Global resets to make life easier.
|
*/

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  /* Enable panning and pinch zoom gestures, but disable additional
  non-standard gestures such as double-tap to zoom. Disabling double-tap to
  zoom removes the need for browsers to delay the generation of click events
  when the user taps the screen. This is an alias for "pan-x pan-y pinch-zoom"
  (which, for compatibility, is itself still valid). */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input,
select,
textarea {
  /* Older iOS puts a border radius on inputs by default. */
  border-radius: 0;
}

body:not(.util-IsTabbing) button:focus,
body:not(.util-IsTabbing) input:focus,
body:not(.util-IsTabbing) select:focus,
body:not(.util-IsTabbing) textarea:focus {
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| Viewports
|--------------------------------------------------------------------------
|
*/
@at-root {
  @viewport {
    width: device-width;
  }
}

/*
|--------------------------------------------------------------------------
| HTML / Body resets
|--------------------------------------------------------------------------
|
*/
html {
  /* Sets a specific default `font-size` for user with `rem` type scales. */
  font-size: 16px;
  /* Changes the default tap highlight to be completely transparent in iOS. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @include Font_16;

  text-rendering: optimizeLegibility;

  /* By default, `<body>` has no `background-color` so we set one as a best practice. */
  background-color: #fff;
  color: var(--Color_Body);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: var(--Font_Family-body);

  cursor: pointer;
}

/*
|--------------------------------------------------------------------------
| Typography - Keyline
|--------------------------------------------------------------------------
|
*/
hr {
  border: 0;
  border-top: 1px solid var(--Color_Border);
}

/*
|--------------------------------------------------------------------------
| Typography - Anchors
|--------------------------------------------------------------------------
| It is more comment that we *don't* want any kind of default styling on
| <a> elements. We'll unset any browser styling on <a>, then give some
| defaults for unclassed <a> elements.
|
*/
a {
  font-weight: inherit;
  text-decoration: none;

  color: currentColor;
}

a:not([class]) {
  font-weight: 500;

  color: var(--Color_Anchor);
}

/*
|--------------------------------------------------------------------------
| Typography - Basic styles
|--------------------------------------------------------------------------
| Undo meyer reset on <em> / <i> / <strong> / <b>
|
*/
em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}

/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
|
*/
input,
select,
textarea {
  font-family: inherit;
}

/*
|--------------------------------------------------------------------------
| Images
|--------------------------------------------------------------------------
|
*/
img {
  max-width: 100%;
}

svg {
  display: block;

  fill: currentColor;
}

/*
|--------------------------------------------------------------------------
| Tables
|--------------------------------------------------------------------------
|
*/
table {
  width: 100%;

  table-layout: fixed;
}
/* stylelint-enable */
