/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
| Global layouts, normally used for layout out the main & aside + other
| recurring layouts
|
| @namespace: lyt-
|
*/
.lyt-Site {
  max-width: var(--Grid_Constrained);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  /* var(--Grid_Constrained) + (1px * 2) for each border */
  @media (width >= 1602px) {
    border-right: 1px solid var(--Color_Border);
    border-left: @border-right;
  }

  /* Prefer to use the actual term for it (iOS) */
  /* stylelint-disable selector-class-pattern */
  .is-iOS.nav-IsOpen & {
    position: fixed;

    overflow: hidden;
  }
  /* stylelint-enable */
}
