/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
| Global layouts, normally used for layout out the main & aside + other
| recurring layouts
|
| @namespace: lyt-
|
*/
.lyt-Site {
  flex-direction: column;

  display: flex;
  min-height: 100vh;
  width: 100%;

  /* Prefer to use the actual term for it (iOS) */
  /* stylelint-disable selector-class-pattern */
  .is-iOS.nav-IsOpen & {
    position: fixed;

    overflow: hidden;
  }
  /* stylelint-enable */

  /* Make way for the edit bar if it's present. */
  .lyt-Body-hasEditBar & {
    @media (--md) {
      /* 24px (typical line height) + 6px + 6px (top and bottom padding) */
      padding-bottom: 36px;
    }
  }
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.lyt-Content {
  margin-top: 1vr;
  margin-bottom: @margin-top;

  @media (--sm) {
    margin-top: 2vr;
    margin-bottom: @margin-top;
  }

  @media (--md) {
    margin-top: 2.5vr;
    margin-bottom: @margin-top;
  }

  @media (--lg) {
    margin-top: 3vr;
    margin-bottom: @margin-top;
  }
}

.lyt-Content_Inner {
  @include Grid_Container;
}

.lyt-Content_Body-hasAside {
  flex-direction: column;
  justify-content: space-between;

  display: flex;

  @media (--sm) {
    flex-direction: row;
  }
}

.lyt-Main {
  .lyt-Content_Body-hasAside & {
    @media (--sm) {
      width: columns(8, 12);
    }

    @media (--lg) {
      width: columns(7, 12);
    }
  }
}

.lyt-Aside {
  margin-top: 1.5vr;

  @media (--sm) {
    width: columns(4, 12);
    margin-top: 0;
  }
}

.lyt-Content_Below {
  @include Grid_Container;
}
