{% import 'macros/misc.html' as misc %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description"
          content="{% block meta_description %}{{ get_meta_description() }}{% endblock %}">
    <meta name="robots" content="{% block meta_robots %}{{ get_meta_robots() }}{% endblock %}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=5">

    {# TODO: Change this value #}
    <meta name="theme-color" content="#db5945">

    {% block canonical %}
      <link rel="canonical" href="{{ get_canonical_url() }}" />
    {% endblock %}

    {% if page_obj and page_obj.has_other_pages() %}
      {% if page_obj.has_previous() %}
        <link rel="previous" href="{{ get_pagination_url(page_obj.previous_page_number()) }}">
      {% endif %}

      {% if page_obj.has_next() %}
        <link rel="next" href="{{ get_pagination_url(page_obj.next_page_number()) }}">
      {% endif %}
    {% endif %}

    <!-- Open Graph data -->
    <meta property="og:title" content="{% block og_title %}{{ get_og_title() }}{% endblock %}">
    <meta property="og:url" content="{{ get_canonical_url() }}">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="{% block og_description %}{{ get_og_description() }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{{ get_og_image() }}{% endblock %}">

    <!-- Twitter card data -->
    <meta name="twitter:card"
          content="{% block twitter_card %}{{ get_twitter_card() }}{% endblock %}" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title"
          content="{% block twitter_title %}{{ get_twitter_title() }}{% endblock %}" />
    <meta name="twitter:description"
          content="{% block twitter_description %}{{ get_twitter_description() }}{% endblock %}" />
    <meta name="twitter:image"
          content="{% block twitter_image %}{{ get_twitter_image() }}{% endblock %}" />

    <title>{% block title %}{{ render_title() }}{% endblock %}</title>

    <!-- Favicons -->
    {% include 'base/_favicons.html' %}

    {% block feeds %}{% endblock %}

    {# Project #}
    {% if settings.TYPEKIT_KIT_ID %}
      {% include 'base/_typekit.html' %}
    {% endif %}

    {% if settings.GOOGLE_FONTS_KIT_URL %}
      {% include 'base/_google-fonts.html' %}
    {% endif %}

    <link rel="stylesheet" href="{{ static('build/css/app.css') }}?last={{ settings.GIT_COMMIT_HASH }}">

    {% if request.user.is_staff %}
      <link rel="stylesheet" href="{{ static('build/css/staff.css') }}?last={{ settings.GIT_COMMIT_HASH }}">
    {% endif %}

    {% block css %}{% endblock %}

    <script>
      var body = document.documentElement || document.body

      body.classList.add('util-JSEnabled')

      if (!('grid' in body.style)) {
        var grid = document.createElement('link')
        grid.href = '/static/build/css/grid-fallback.css'
        grid.rel = 'stylesheet'
        document.head.appendChild(grid)
        body.className += ' util-NoGrid'
      }

      function hasNativeCSSProperties() {
        var opacity = 0
        var el = body
        // Setup CSS properties.
        el.style.setProperty('--test-opacity', opacity)
        el.style.setProperty('opacity', 'var(--test-opacity)')
        // Feature detect then remove all set properties.
        var hasNativeCSSProperties = window.getComputedStyle(el).opacity == opacity
        el.style.setProperty('--test-opacity', '')
        el.style.opacity = ''
        return hasNativeCSSProperties
      }

      if (!hasNativeCSSProperties()) {
        var vars = document.createElement('link')
        vars.href = '/static/build/css/vars-fallback.css'
        vars.rel = 'stylesheet'
        document.head.appendChild(vars)
        body.className += ' util-NoCssVars'
      }
    </script>
    {% include 'base/_rollbar.html' %}
    {% include 'base/_analytics.html' %}
  </head>

  <body class="util-Preload util-IsTabbing {% if edit_bar() %}lyt-Body-hasEditBar{% endif %} {% block body_class %}{% endblock %}">
    {% block schema %}{% endblock %}
    {% include 'base/_browser-update.html' %}

    {{ edit_bar() }}

    {% block site %}
      <div class="lyt-Site" id="app">
        {% include 'base/_header.html' %}

        {{ misc.mobile_nav_trigger() }}

        {% block content_outer %}
          <div class="lyt-Content_Outer">
            {% block content_above %}{% endblock %}

            {% block content %}
              <div class="lyt-Content {% block content_class %}{% endblock %}">
                {% block content_inner %}
                  <div class="lyt-Content_Inner">
                    <div class="lyt-Content_Body">
                      <main class="lyt-Main {% block main_class %}{% endblock %}">
                        {% block main %}{% endblock %}
                      </main>

                      {% if self.aside() %}
                        <aside class="lyt-Aside">
                          {% block aside %}{% endblock %}
                        </aside>
                      {% endif %}
                    </div>
                  </div>
                {% endblock %}
              </div>
            {% endblock %}

            {% block content_below %}{% endblock %}
          </div>
        {% endblock %}
      </div>

      {% include 'base/_footer.html' %}
    {% endblock %}

   {% if request.user.is_superuser %}
      <div class="dbg-Overlay">
        <div class="dbg-Overlay_Breakpoint"></div>
        <div class="dbg-Overlay_Inner">
          <div class="dbg-Overlay_Row">
            {% for _ in range(1, 13) %}
             <div class="dbg-Overlay_Column"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if not settings.IN_CI %}
      {{ render_bundle('vendor', 'js') }}
      {{ render_bundle('app', 'js') }}
    {% endif %}
  </body>
</html>
