{% load cms_tags compress meta page_meta_tags sekizai_tags static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en" {% googleplus_html_scope meta.gplus_type %}>
  <head {% meta_namespaces %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    {# Meta information, OpenGraph, Twitter cards etc #}
    {% page_meta request.current_page as meta %}
    {% include 'djangocms_page_meta/meta.html' with meta=meta %}

    {# TODO: Change this value #}
    <meta name="theme-color" content="#000">
    {% block canonical %}
      {# Emit a 'canonical' tag when the page is displayed on an alternate url #}
      {% if request.current_page %}
        {% page_url request.current_page as current_url %}
        {% if current_url and current_url != request.get_full_path %}<link rel="canonical" href="{% page_url request.current_page %}">{% endif %}
      {% endif %}
    {% endblock %}

    {% if page_obj and page_obj.has_other_pages %}
      {% if page_obj.has_previous %}
        {# <link rel="previous" href="{% get_pagination_url page_obj.previous_page_number %}"> #}
      {% endif %}

      {% if page_obj.has_next %}
        {# <link rel="next" href="{% get_pagination_url page_obj.next_page_number %}"> #}
      {% endif %}
    {% endif %}

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>

    <!-- Favicons -->
    {% include 'base/_favicons.html' %}

    {% block feeds %}{% endblock %}

    {# Project #}
    {% if settings.TYPEKIT_USED %}
      {% include 'base/_typekit.html' %}
    {% endif %}

    {% compress css %}
      <link rel="stylesheet" href="{% static 'build/css/app.css' %}?last={{ settings.GIT_COMMIT_HASH }}">
    {% endcompress %}

    {% render_block "css" %}

    <script>
      var body = document.documentElement || document.body

      if (!('grid' in body.style)) {
        var grid = document.createElement('link')
        grid.href = '/static/build/css/grid-fallback.css'
        grid.rel = 'stylesheet'
        document.head.appendChild(grid)
        body.className += ' util-NoGrid'
      }

      function hasNativeCSSProperties() {
        var opacity = 0
        var el = body
        // Setup CSS properties.
        el.style.setProperty('--test-opacity', opacity)
        el.style.setProperty('opacity', 'var(--test-opacity)')
        // Feature detect then remove all set properties.
        var hasNativeCSSProperties = window.getComputedStyle(el).opacity == opacity
        el.style.setProperty('--test-opacity', '')
        el.style.opacity = ''
        return hasNativeCSSProperties
      }

      if (!hasNativeCSSProperties()) {
        var vars = document.createElement('link')
        vars.href = '/static/build/css/vars-fallback.css'
        vars.rel = 'stylesheet'
        document.head.appendChild(vars)
        body.className += ' util-NoCssVars'
      }
    </script>

    {% include 'base/_analytics.html' %}
  </head>

  <body class="util-Preload util-IsTabbing {% block body_class %}{% endblock %}">
    {% cms_toolbar %}

    {% block site %}
      <div class="lyt-Site" id="app">
        {% include 'base/_header.html' %}

        {% block content_outer %}
          <div class="lyt-Content_Outer">
            {% block content_above %}{% endblock %}

            {% block content %}
              <div class="lyt-Content {% block content_class %}{% endblock %}">
                {% block content_inner %}
                  <div class="lyt-Content_Inner">
                    <div class="lyt-Content_Body">
                      <main class="lyt-Main {% block main_class %}{% endblock %}">
                        {% block main %}{% endblock %}
                      </main>

                      {% block aside_outer %}
                        <aside class="lyt-Aside">
                          {% block aside %}{% endblock %}
                        </aside>
                      {% endblock %}
                    </div>
                  </div>
                {% endblock %}
              </div>
            {% endblock %}

            {% block content_below %}{% endblock %}
          </div>
        {% endblock %}
      </div>

      {% include 'base/_footer.html' %}
    {% endblock %}

    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'app' 'js' %}

    {% compress js %}
      {% block compressed_js_first %}{% endblock %}
      {% block compressed_js_last %}{% endblock %}
    {% endcompress %}

    {% render_block "js" %}

    {# Opbeat JS error tracking #}
    {% if settings.OPBEAT %}
      <script src="https://d3tvtfb6518e3e.cloudfront.net/3/opbeat.min.js"
              data-org-id="{{ settings.OPBEAT.ORGANIZATION_ID }}"
              data-app-id="{{ settings.OPBEAT.APP_ID }}">
      </script>

      {% if user.is_authenticated %}
        <script>
          _opbeat('setUserContext', {
            id: "{{ user.pk }}"
          });
        </script>
      {% endif %}
    {% endif %}
  </body>
</html>
