{% if show %}
  <div class="pg-EditBar">
    <div class="pg-EditBar_Columns">
      <div class="pg-EditBar_Column">
        <div class="pg-EditBar_Title">{{ settings.SITE_NAME }}</div>

        <a class="pg-EditBar_Link" href="{{ add_url }}" target="_blank">
          {% include 'edit-bar/add.svg' %}
          New
        </a>

        <a class="pg-EditBar_Link" href="{{ edit_url }}" target="_blank">
          {% include 'edit-bar/edit.svg' %}
          Edit {{ model_name }}
        </a>

        {% if request.user.is_superuser %}
          <div class="pg-EditBar_Link js-DebugOverlayTrigger">
            {% include 'edit-bar/grid.svg' %}
            Grid overlay
          </div>
        {% endif %}
      </div>

      <div class="pg-EditBar_Column">
        <a class="pg-EditBar_Link" href="/admin/" target="_blank">
          Admin
        </a>

        <span class="pg-EditBar_Divider">|</span>

        <a class="pg-EditBar_Link" href="#" target="_blank">
          Basecamp
        </a>

        <span class="pg-EditBar_Divider">|</span>

        <a class="pg-EditBar_Link" href="{{ url('admin:logout') }}?next={{ request.path }}">
          Log out
        </a>
      </div>
    </div>
  </div>
{% endif %}
