/*
|--------------------------------------------------------------------------
| Call to action
|--------------------------------------------------------------------------
| @namespace: cta-
|
*/
.cta-CallToAction {
  border-radius: 16px 4px;
  overflow: hidden;
}

.cta-CallToAction_Inner {
  justify-content: space-between;

  display: flex;
}

.cta-CallToAction_Content {
  padding-top: 3.5vr;
  padding-bottom: 3.5vr;

  padding-left: columns(1, 12);

  @media (--sm) {
    width: columns(6, 12);
  }
}

.cta-CallToAction_Title {
  color: #fff;
}

.cta-CallToAction_Link {
  margin-top: 1vr;
}

.cta-CallToAction_ImageContainer {
  position: relative;

  @media (--sm) {
    width: columns(6, 12);
  }
}

.cta-CallToAction_Background-image {
  @include Spread;

  .img-Image {
    @include Spread;
  }
}

.cta-CallToAction_Image {
  @include Spread;

  .img-Image {
    @include Spread;
  }
}
