/*
|--------------------------------------------------------------------------
| Dual column WYSIWYG
|--------------------------------------------------------------------------
| @namespace: sec-
|
*/
.sec-DualColumns {
  @media (--md) {
    display: flex;
  }
}

.sec-DualColumns_Column {
  @media (--md) {
    width: columns(1, 2);

    &:first-child {
      margin-right: var(--Grid_Gutter);
    }

    &:last-child {
      margin-left: var(--Grid_Gutter);
    }
  }

  &:first-child {
    margin-bottom: 0.5vr;

    @media (--md) {
      margin-bottom: 0;
    }
  }
}
