{% extends 'users/reset/password_reset_base.html' %}

{% block content %}
  <h1 class="ath-Form_Heading">Reset password</h1>

  {% if not validlink %}
    <p class="ath-Form_Message">
      This password reset link has expired.
    </p>

    <div class="frm-Actions">
      <a class="frm-Action" href="{% url 'password_reset' %}">Try again</a>
    </div>
  {% else %}
    <p class="ath-Form_Message">Please enter the new password you would like to use.</p>

    <form class="frm-Form" method="post">
      {% csrf_token %}

      {{ form.as_p }}

      <div class="frm-Actions">
        <button class="frm-Action">Save new password</button>
      </div>
    </form>
  {% endif %}
{% endblock %}
