{% extends 'frontend/_base.html' %}

{% block main %}
  <div class="wys-WYSIWYG" style="max-width: 800px">
    <p class="wys-Standfirst">Standfirst lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nulla et vestibulum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus at luctus enim. In molestie dui quis metus elementum dapibus. Sed consectetur in orci a egestas. Proin a odio et nibh pretium varius in eu neque. Vivamus vel condimentum ante, eu sollicitudin velit.</p>
    <ul>
    <li>Nunc id felis sed augue pulvinar vestibulum nec id magna.</li>
    <li>Vivamus dignissim metus porta, porttitor orci vel, eleifend nunc. Praesent et tortor non neque euismod sagittis eget non diam. Mauris risus lorem, dignissim vel ultricies ut, fringilla ultricies dolor.
    <ul>
    <li>In euismod porttitor tellus, ac convallis magna convallis eu.</li>
    <li>Nulla tempus a orci et finibus.</li>
    </ul>
    </li>
    </ul>
    <p>Aenean rhoncus arcu vehicula, sagittis enim mollis, iaculis libero. Morbi aliquam eros risus, nec feugiat dolor sodales a. Mauris lorem nisl, laoreet et ligula ac, tincidunt vulputate mauris. Suspendisse sit amet nibh mattis, sodales nulla sit amet, vehicula urna.</p>
    <ol>
    <li>Praesent hendrerit velit arcu, ac tempus lorem laoreet fringilla.</li>
    <li>Aliquam a metus sodales, volutpat lorem sit amet, malesuada velit.</li>
    <li>Nulla facilisi.
    <ol>
    <li>Duis diam tortor, vehicula dictum neque eget, ultrices varius justo.</li>
    <li>Duis vitae dapibus mi.</li>
    </ol>
    </li>
    <li>Duis posuere sit amet magna sed gravida.</li>
    </ol>

    <h2>Donec eget dignissim massa heading 2</h2>
    <p>Duis porta nibh est, quis aliquet erat pellentesque ut. Morbi quis sapien neque. Vestibulum luctus dolor et consectetur cursus. Curabitur mattis varius bibendum. Aliquam ac odio molestie, eleifend ligula at, laoreet lectus. Proin luctus at augue tempus consequat. Fusce non diam nec dui fringilla mattis sit amet vel risus. Mauris id cursus massa. Pellentesque tellus dui, laoreet ac elit non, aliquam efficitur neque. Nam eget justo non mauris suscipit mollis sed vel elit. Aenean sit amet scelerisque arcu.</p>

    <h2 class="wys-Title-small">Donec eget dignissim massa wys-Title-small</h2>
    <p>Duis porta nibh est, quis aliquet erat pellentesque ut. Morbi quis sapien neque. Vestibulum luctus dolor et consectetur cursus. Curabitur mattis varius bibendum. Aliquam ac odio molestie, eleifend ligula at, laoreet lectus. Proin luctus at augue tempus consequat. Fusce non diam nec dui fringilla mattis sit amet vel risus. Mauris id cursus massa. Pellentesque tellus dui, laoreet ac elit non, aliquam efficitur neque. Nam eget justo non mauris suscipit mollis sed vel elit. Aenean sit amet scelerisque arcu.</p>

    <h3>Proin sed facilisis dui header 3.</h3>
    <p>Cras a elementum elit, eu dapibus lorem. Curabitur semper vel libero et tincidunt.</p>

    <h2 class="wys-Title-medium">Proin sed facilisis dui header 3.</h2>
    <p>Cras a elementum elit, eu dapibus lorem. Curabitur semper vel libero et tincidunt.</p>

    <h3 class="wys-Title-large">Proin sed facilisis dui wys-Title-large.</h3>
    <p>Cras a elementum elit, eu dapibus lorem. Curabitur semper vel libero et tincidunt.</p>

    <h4>Nulla interdum risus et est egestas, non vehicula libero laoreet.</h4>
    <p>Cras ut interdum enim. Nulla facilisi. Suspendisse potenti. Curabitur feugiat dui in porttitor vehicula. Duis ut orci dolor. Curabitur congue ut purus ut vehicula. Donec eget mi lorem. Etiam sit amet semper risus.</p>
    <h5>Cras luctus lorem ex, at sodales lorem consectetur nec header 5.</h5>
    <p>Inline styles. Vestibulum aliquam <sup>superscript,</sup> dolor non efficitur convallis <sub>subscript,</sub> nunc nunc <strong>blandit</strong> orci, id convallis nisi nunc eu purus. <a href="#">Link mauris tempor ut dolor id venenatis.</a> Suspendisse consequat neque nec consectetur euismod. Sed non sapien ultricies felis pretium semper id et nibh. <em>Sed nec gravida lorem, a mollis turpis. Pellentesque sit amet imperdiet tellus. Suspendisse iaculis finibus sagittis.</em> Donec et orci molestie, interdum lorem et, laoreet turpis. Phasellus ullamcorper nulla ut porttitor eleifend. Suspendisse viverra sodales lacus nec facilisis. Cras eget dui et nisl viverra pretium ac et libero. Nulla dignissim tincidunt tellus, nec rutrum massa egestas eget. Morbi egestas leo eu nisi molestie auctor. Suspendisse potenti. Praesent nec massa a nunc consequat volutpat.</p>
    <p><a href="#" class="wys-Button">Button</a></p>
    <p>Vestibulum nec dui dignissim, vestibulum eros quis, ullamcorper risus. Phasellus rhoncus ante neque, ac fringilla sapien condimentum nec. Phasellus a sagittis augue. Phasellus porta velit lorem, sed euismod arcu lobortis id.</p>
    <p>Quisque accumsan eleifend enim ut porta. Duis finibus viverra neque eget mattis. Suspendisse laoreet tincidunt erat ac tincidunt. In vel nisi id magna tristique bibendum.</p>
    <blockquote>
    <p>Nulla pellentesque, tellus nec eleifend venenatis, nisl risus sodales nisi, ut volutpat lorem mauris vitae ligula. Praesent et vestibulum tellus, ac aliquam orci. Fusce vitae risus ante. Nulla tincidunt odio sed leo iaculis tincidunt suscipit vitae orci. Vivamus bibendum, eros eget ultrices iaculis, dui elit tristique arcu, id feugiat nibh neque vitae est. Integer vitae ante suscipit, consectetur eros ac, volutpat ante. Nullam convallis consectetur neque, a pharetra diam porttitor ut. Fusce consequat purus ut accumsan pellentesque.</p>
    </blockquote>
    <p>Nunc vel nibh aliquet, faucibus arcu faucibus, venenatis ipsum. Nulla placerat, enim eu semper auctor, nisi libero rhoncus sem, ut mattis metus dolor at quam. Integer ultrices velit lacus, quis tincidunt lorem fringilla ut. Sed et tristique tellus. Maecenas semper quis nulla at mollis. Ut bibendum enim ut auctor euismod. Quisque convallis ut nulla eu imperdiet. Quisque at ex non metus aliquet ornare. Nulla dignissim ullamcorper ex, vitae interdum leo dapibus sed. Sed sed sollicitudin neque. Ut non semper lacus.</p>
    <p><img src="/r/15-1/" alt="Placeholder" title="Placeholder" /></p>
    <p>Phasellus nec rutrum arcu. Aliquam erat volutpat. Nulla quis ullamcorper orci. Proin diam magna, aliquam in semper eget, accumsan non ipsum. Phasellus et turpis congue, tincidunt ante et, viverra velit. Praesent auctor, neque nec eleifend pharetra, nibh purus facilisis ante, vel viverra arcu eros ac arcu. Curabitur elementum feugiat sapien, ultricies commodo lectus lacinia at. Fusce pretium tristique volutpat. Vivamus et elit ac dolor porttitor fringilla. Aenean tristique ante id nibh fermentum convallis. Nam odio felis, hendrerit eu dignissim non, tincidunt eget orci.</p>
    <table>
    <thead>
    <tr>
    <td>Table header</td>
    <td>Table header cell 2</td>
    <td>Table header cell 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>0.5</td>
    <td>0.2</td>
    <td>0.99</td>
    </tr>
    <tr>
    <td>5</td>
    <td>Trying with a longer text to see if it breaks.&nbsp;Vivamus fringilla eget justo id accumsan. Cras a lectus eu ligula vestibulum pretium.</td>
    <td>8</td>
    </tr>
    </tbody>
    </table>
    <p>Vivamus fringilla eget justo id accumsan. Cras a lectus eu ligula vestibulum pretium. Fusce euismod nec ante sit amet feugiat. Aenean nisi ipsum, convallis ac orci id, pharetra viverra mi. Nullam lacus libero, lobortis eu dui eu, hendrerit maximus ex. Aliquam erat volutpat. Ut mollis metus sapien, vitae dapibus ante tristique eget. Duis rhoncus ante id massa imperdiet pharetra. Donec fermentum ipsum velit, id euismod arcu semper in. Fusce vestibulum tempor ipsum, et placerat tellus fringilla quis. Pellentesque ipsum neque, faucibus sit amet nisl ac, semper hendrerit lacus. Mauris ut imperdiet nibh, id mattis est. Maecenas molestie eu mi vel rhoncus. Integer in consequat velit. Integer varius velit vel dolor consequat, vitae aliquet lorem vehicula. Proin at mi maximus, porttitor risus non, laoreet libero.</p>
    <hr>
    <p>Fusce semper dolor ac leo maximus, non hendrerit elit rutrum. Aenean arcu nisi, facilisis id urna id, rhoncus semper augue. Duis sed pulvinar risus. Nam et tristique nibh. Phasellus molestie risus erat, ac placerat nisi ornare a. Nam ac vehicula purus. Sed ac venenatis enim. Nunc pellentesque tempus nunc, id porta justo condimentum et.</p>
  </div>
{% endblock %}
