/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
| Main button mixin that lays out the base for a button, nothing besides
| structure should be implied in here.
|
| The background-color & color only exist here so we can do transition, if we
| have no value for them then the transition is instant instead of what is
| declared
|
*/
@defin-mixin Button {
  display: inline-block;
  padding-top: 7px;
  padding-right: calc(map(grid, gutter) / 2);
  padding-bottom: @padding-top;
  padding-left: @padding-right;

  font-family: map(fonts, families, sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: map(misc, bdrs);
  color: #fff;

  transition: background-color 0.18s, color 0.18s 0.18s;

  &:hover {
    background-color: transparent;
    color: #fff;
  }
}

/*
|--------------------------------------------------------------------------
| Button - Primary
|--------------------------------------------------------------------------
| The style for the primary button used
|
*/
@define-mixin Button-primary() {
  @mixin Button;
}

/*
|--------------------------------------------------------------------------
| Button - Secondary
|--------------------------------------------------------------------------
| The style for the secondary button used
|
*/
@define-mixin Button-secondary() {
  @mixin Button;
}
