/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
| Main button mixin that lays out the base for a button, nothing besides
| structure should be implied in here.
|
| The background-color & color only exist here so we can do transition, if we
| have no value for them then the transition is instant instead of what is
| declared
|
*/
@mixin Button() {
  display: inline-block;
  padding: 7 var(--Grid_Gutter);

  background-color: transparent;
  border: 1px solid transparent;
  color: #fff;

  /* stylelint-disable */
  transition: background-color var(--Global_Transition),
              border var(--Global_Transition),
              color var(--Global_Transition);
  /* stylelint-enable */
}

/*
|--------------------------------------------------------------------------
| Button - Primary
|--------------------------------------------------------------------------
| The style for the primary button used
|
*/
@mixin Button-primary() {
  @include Button();
}

/*
|--------------------------------------------------------------------------
| Button - Secondary
|--------------------------------------------------------------------------
| The style for the secondary button used
|
*/
@mixin Button-secondary() {
  @include Button();
}
