/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Font sizing
|--------------------------------------------------------------------------
| Returns a dynamic margin-bottom as well as the font-sizes / line-heights
| declared in the config/_variables.scss
|
| @size: The font size variable from the maps & lineheights
*/
@mixin Font_Sizing($size) {
  font-size: var(--Font_Size-$(size));
  line-height: var(--Line_Height-$(size));
}

/*
|--------------------------------------------------------------------------
| Font styles
|--------------------------------------------------------------------------
| Returns the font family & weight relative to the size of the font being
| used
|
*/
@mixin Font_Styles($size) {
  letter-spacing: calc(var(--Letter_Spacing-$(size)) / 1000);
}

/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
| Proxy to include both Font_Sizing and Font_Styles so a dev doesn't have
| to remember to do both
|
*/
@mixin Font($size) {
  @include Font_Sizing($size);
  @include Font_Styles($size);
}
