/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Font sizing
|--------------------------------------------------------------------------
| Returns a dynamic margin-bottom as well as the font-sizes / line-heights
| declared in the config/_variables.scss
|
| @size: The font size variable from the maps & lineheights
*/
@define-mixin Font_Sizing $size {
  margin-bottom: calc(var(--Font_Size-$(size)) / 2);

  font-size: var(--Font_Size-$(size));
  line-height: var(--Line_Height-$(size));

  @media (--lg) {
    font-size: var(--Font_Size-$(size)--lg);
    line-height: var(--Line_Height-$(size)--lg);
  }
}
