/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Grid - Container
|--------------------------------------------------------------------------
| Creates the container for constraining content
|
*/
@mixin Grid_Container() {
  /* Add $Grid_Gutter to the container as the 'container' should be the size
     of the content not the actual div */
  max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 2));
  width: 100%;
  margin-right: auto;
  margin-left: @margin-right;
  padding-right: var(--Grid_Gutter);
  padding-left: @padding-right;
}

/*
|--------------------------------------------------------------------------
| Grid - Row
|--------------------------------------------------------------------------
| Adds negative margins to the parent element so we don't have to do
| individual resets on the first or last children and we can keep all of the
| widths consistent
|
*/
@mixin Grid_Row() {
  display: flex;
  margin-right: -var(--Grid_Gutter);
  margin-left: @margin-right;
}

/*
|--------------------------------------------------------------------------
| Grid - Column
|--------------------------------------------------------------------------
| Adds consistent spacing to stop content of columns sitting next to each
| other
|
*/
@mixin Grid_Column($count: 0, $total: 0) {
  @if $count AND $total {
    width: calc(percentage($count, $total) - (var(--Grid_Gutter) * 2));
  }

  margin-right: var(--Grid_Gutter);
  margin-left: @margin-right;
}

