/*
|--------------------------------------------------------------------------
| Background spread
|--------------------------------------------------------------------------
| Mainly used when you're having to have an image cover a section or div
|
*/
@mixin Background_Spread() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
|--------------------------------------------------------------------------
| Intrinsic ratio
|--------------------------------------------------------------------------
| Used for surrounding images and videos to maintain their aspect ratio
|
*/
@mixin intrinsic($x: 16, $y: 9) {
  position: relative;

  display: block;
  width: 100%;

  /* stylelint-disable */
  > * {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
  /* stylelint-enable */

  &::before {
    content: '';

    display: block;
    padding-bottom: calc(100% / ($x / $y));
  }
}
