{% extends "admin/base.html" %}
{% load static i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        {{ settings.SITE_NAME }}
    </h1>
{% endblock %}

{% block extrastyle %}
    <style>
      @media (min-width: 960px) {
        .mce-tinymce {
          width: calc(100% - 170px) !important;
          margin-left: 170px !important;
        }
      }

      .sidebar-link.popup-section-link:hover::after {
        content: '';
        position: absolute;
        top: -48px;
        right: -64px;
        width: 128px;
        height: 128px;
        transform: rotate(45deg);
      }

      .related-widget-wrapper {
        display: inline-block;
      }

      .related-widget-wrapper .change-related,
      .related-widget-wrapper .delete-related {
        display: none;
      }
    </style>
{% endblock %}

{% block extrahead %}
  {# A bit of a hack to get RawIdForeignKeyFields to work nicely.   #}
  {# This code overrides the 'Add new' button to use the Jet popup. #}
  {# This is here as opposed to the CMS so it's avaliable on every  #}
  {# page.                                                          #}
  <script>
    (function () {
      document.addEventListener('DOMContentLoaded', function() {
        {# Find all the widgets and initialise variables for later #}
        var rawIdWidgets = document.querySelectorAll('.related-widget-wrapper')
        var currentAddButton = document.querySelector('body')
        var currentLookupButton = document.querySelector('body')

        {# iterate over the widgets on the page #}
        for (var i = 0; i < rawIdWidgets.length; i++) {
          {# check if the widget is a RawIdForeignKeyField #}
          if (rawIdWidgets[i].querySelector('.add-related') && rawIdWidgets[i].querySelector('.related-lookup')) {

            currentAddButton = rawIdWidgets[i].querySelector('.add-related')
            currentLookupButton = rawIdWidgets[i].querySelector('.related-lookup')

            {# The hack, effectively we override the default behaviour and then run the click event for the #}
            {# item lookup. From there, we wait until the iframe is instantiated for the lookup and them    #}
            {# refresh the pop-up iframe with the url we want for adding a new file.                        #}
            currentAddButton.addEventListener('click', function (e) {
              e.preventDefault()
              currentLookupButton.click()
              var checkIframe = window.setInterval( function () {
                if (document.querySelector('iframe')) {
                  document.querySelector('iframe').src = '/admin/media/file/add/?_to_field=id&amp;_popup=1'
                  window.clearInterval(checkIframe)
                }
              }, 10)
            })
          }
        }
      })
    }) ()
  </script>
{% endblock %}

{% block nav-global %}
    <a href="https://documentation.onespacemedia.com/" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon">
              <svg id="i-file" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                  <path d="M6 2 L6 30 26 30 26 10 18 2 Z M18 2 L18 10 26 10" />
              </svg>
            </span>OSM documentation portal
        </span>
    </a>
    <a href="https://retainer.onespacemedia.com" class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon">
              <svg id="i-portfolio" viewBox="0 0 32 32" width="18" height="18" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                  <path d="M29 17 L29 28 3 28 3 17 M2 8 L30 8 30 16 C30 16 24 20 16 20 8 20 2 16 2 16 L2 8 Z M16 22 L16 18 M20 8 C20 8 20 4 16 4 12 4 12 8 12 8" />
              </svg>
            </span>OSM retainer portal
        </span>
    </a>
{% endblock %}

{% block userlinks %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}
