{% extends "admin/base_site.html" %}
{% load i18n admin_static site %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/auth/login.css" %}" />
{% endblock %}

{% block main_content %}
  <div class="ath-Container">
    <div class="ath-Inner">
      {% block content_above %}
        <div class="ath-Above">
          <div class="ath-Logo"></div>
        </div>
      {% endblock %}
      <div class="ath-Wrapper">
        <div class="ath-Form">
          <h2 class="ath-Form_Heading">{{ settings.SITE_NAME }} admin login</h2>
          {% if message %}<h3 class="ath-Form_Message">{{ message|linebreaksbr }}</h3>{% endif %}
          <form class="frm-Form" method="post">
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="frm-Error">{{ error }}</p>
              {% endfor %}
            {% endif %}

            <form class="frm-Form" method="post">
              <div class="frm-Items">
                <div class="frm-Item{% if form.username.errors %} frm-Item-error{% endif %}">
                  {% add_field_attributes form.username 'frm-Input js-Form_Input' %}
                  {% if form.username.errors %}
                    <div class="frm-Item_Extra">
                      {% for error in form.username.errors %}
                        <p class="frm-Error">{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="frm-Item{% if form.password.errors %} frm-Item-error{% endif %}">
                  {% add_field_attributes form.password 'frm-Input js-Form_Input' %}
                  {% if form.password.errors %}
                    <div class="frm-Item_Extra">
                      {% for error in form.password.errors %}
                        <p class="frm-Error">{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="frm-Actions">
                {% csrf_token %}

                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                  <div class="frm-SubLinks">
                    <a href="{{ password_reset_url }}" class="frm-Link">{% trans 'Forgotten your password or username?' %}</a>
                  </div>
                {% endif %}
                <button class="frm-Action" type="submit">Log in</button>
              </div>
            </form>
          </form>
        </div>
      </div>
      <div class="ath-Below">
        {% if settings.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY %}
          <a class="ath-Link onespacemedia-login" href="{% url 'social:begin' 'google-oauth2' %}">
            OSM staff login
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
