{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "core/css/login.css" %}" />
{% endblock %}

{% block content %}
<ul class="messagelist">
    <li class="info">Use "<strong>admin</strong>" for username and password</li>
</ul>

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

{% if settings.SOCIAL_AUTH_GOOGLE_PLUS_KEY %}
  <form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}" style="margin:0;">
      {% csrf_token %}
      <input id="at" type="hidden" name="access_token" value="" />
      <input id="code" type="hidden" name="code" value="" />
  </form>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript">
  $(function() {
      var script_added = false;
      $('.onespacemedia-login').on('click', function () {
          if (script_added === false) {
              var po = document.createElement('script');
              po.type = 'text/javascript';
              po.async = true;
              po.src = 'https://apis.google.com/js/client:plusone.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(po, s);
              setTimeout(function() {
                  $('#___signin_0 button').trigger('click');
              }, 1000);
              script_added = true;
          } else {
              $('#___signin_0 button').trigger('click');
          }
      });
  });
  var signInCallback = function (result) {
      if (result['error']) {
      } else {
          $('#code').attr('value', result['code']);
          $('#at').attr('value', result['access_token']);
          $('#google-plus').submit();
      }
  };
  </script>

  <style>
  #___signin_0 {
      display: none !important;
  }
  </style>

  <a href="#" class="onespacemedia-login">OSM staff login</a>

    <span class="g-signin"
        data-callback="signInCallback"
        data-clientid="{{ settings.SOCIAL_AUTH_GOOGLE_PLUS_KEY }}"
        data-cookiepolicy="single_host_origin"
        data-requestvisibleactions="http://schemas.google.com/AddActivity"
        data-scope="https://www.googleapis.com/auth/plus.profile.emails.read">
    </span>
{% endif %}

</div>
{% endblock %}
