{% extends "sections/types/_base.html" %}

{#
A standardised section layout with title, subtitle, body, and link.
#}

{% block section_class %}sec-Section sec-Section-{{ section.background_colour }}{% endblock %}

{% block content %}
  <div class="sec-Section_Inner {% block inner_class %}{% endblock %}">
    {% block inner %}
      {% block header %}
        {% if section.title or section.text %}
          <header class="sec-Section_Header {% block header_class %}{% endblock %}">
            {% if section.kicker %}
              <p class="sec-Section_Kicker">
                {{ section.kicker }}
              </p>
            {% endif %}

            <h2 class="sec-Section_Title {% block title_class %}{% endblock %}">
              {% block title %}{{ section.title }}{% endblock %}
            </h2>

            {% if section.text %}
              <p class="sec-Section_Text {% block text_class %}{% endblock %}">
                {{ section.text|linebreaksbr }}
              </p>
            {% endif %}
          </header>
        {% endif %}
      {% endblock %}

      <div class="sec-Section_Body">
        {% block body %}{% endblock %}
      </div>
    {% endblock %}

    {% block footer %}
      {% if section.has_link %}
        <p class="sec-Section_Footer">
          <a href="{{ section.link_location }}" class="sec-Section_Link {% block link_class %}{% endblock %}">
            {{ section.link_text }}
          </a>
        </p>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
