/*
|--------------------------------------------------------------------------
| Wysiwyg
|--------------------------------------------------------------------------
| Styles for when a wysiwyg appears on a page. Here we can use global font-sizes
| because it's not viable to expect all wysiwyg content to have a class. Make
| sure all styles are nested inside the wys-Outer so they don't leak.
|
| @namespace: wys-
*/

/* We are styling root elements so we need access to type */
/* stylelint-disable selector-no-type */
.wys-Intrinsic {
  @include Intrinsic();
}

/*
|--------------------------------------------------------------------------
| Titles
|--------------------------------------------------------------------------
|
*/
.wys-Title-small {
  /* @apply --Font-12; */

  margin-top: 1.33333vr;
  margin-bottom: 0.25vr;

  font-weight: 400;
}

.wys-Title-medium {
  /* @apply --Font-22; */

  margin-top: 1.33333vr;
  margin-bottom: 0.25vr;

  font-weight: 400;

  + .wys-Title-small {
    margin-top: -0.25vr;
  }
}

.wys-Title-large {
  /* @apply --Font-28; */

  margin-top: 1.33333vr;
  margin-bottom: 0.25vr;

  font-weight: 400;

  + .wys-Title-medium {
    margin-top: -0.25vr;
  }
}

.wys-Title-extraLarge {
  /* @apply --Font-36; */

  margin-top: 1.33333vr;
  margin-bottom: 0.25vr;

  font-weight: 400;
}
/* stylelint-enable */
