/*
|--------------------------------------------------------------------------
| Wysiwyg
|--------------------------------------------------------------------------
| Styles for when a wysiwyg appears on a page. Here we can use global font-sizes
| because it's not viable to expect all wysiwyg content to have a class. Make
| sure all styles are nested inside the wys-Outer so they don't leak.
|
| @namespace: wys-
*/

/* stylelint-disable declaration-no-important, max-nesting-depth, selector-max-id, selector-max-type, selector-max-universal */
#tinymce,
.wys-WYSIWYG {
  > * {
    @media (--sm) {
      width: calc(6 / 8 * 100%);
      margin-right: auto;
      margin-left: auto;
    }

    @media (--md) {
      width: calc(8 / 12 * 100%);
    }
  }

  > img {
    display: block;
    margin-top: 1vr;
    margin-bottom: @margin-top;

    @media (--sm) {
      width: calc(7 / 8 * 100%);
    }

    @media (--md) {
      width: calc(10 / 12 * 100%);
      margin-top: 2vr;
      margin-bottom: @margin-top;
    }
  }

  > p {
    margin-bottom: 1vr;
  }

  > ul {
    list-style: disc;
  }

  /*
  |--------------------------------------------------------------------------
  | Buttons
  |--------------------------------------------------------------------------
  |
  */
  .wys-Button-primary {
    @include Button-primary;
  }

  .wys-Button-secondary {
    @include Button-secondary;
  }

  /*
  |--------------------------------------------------------------------------
  | Intrinsic
  |--------------------------------------------------------------------------
  |
  */
  .wys-Intrinsic {
    @include Intrinsic;
  }

  /*
  |--------------------------------------------------------------------------
  | Titles
  |--------------------------------------------------------------------------
  |
  */
  .wys-Title-small {
    margin-top: 1vr;
    margin-bottom: 0.5vr;
  }

  .wys-Title-medium {
    margin-top: 1vr;
    margin-bottom: 0.5vr;

    + .wys-Title-small {
      margin-top: -0.25vr;
    }
  }

  .wys-Title-large {
    margin-top: 1vr;
    margin-bottom: 0.5vr;

    + .wys-Title-medium {
      margin-top: -0.25vr;
    }
  }

  /* We want every first and last item to never have their relative margin */
  > *:first-child {
    margin-top: 0 !important;

    /* This covers cases like images */
    > *:first-child {
      margin-top: 0 !important;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;

    /* This covers cases like images */
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}
/* stylelint-enable */
