/*
|--------------------------------------------------------------------------
| Wysiwyg
|--------------------------------------------------------------------------
| Styles for when a wysiwyg appears on a page. Here we can use global font-sizes
| because it's not viable to expect all wysiwyg content to have a class. Make
| sure all styles are nested inside the wys-Outer so they don't leak.
|
| @namespace: wys-
*/

/* stylelint-disable selector-no-type */
/* stylelint-enable */
