{% macro call_to_action(cta) %}
  <section class="cta-CallToAction">
    <div class="cta-CallToAction_Inner">
      <div class="cta-CallToAction_Body">
        {% if cta.kicker %}
          <p class="cta-CallToAction_Kicker">{{ cta.kicker }}</p>
        {% endif %}

        <h2 class="cta-CallToAction_Title">{{ cta.title }}</h2>

        <a class="cta-CallToAction_Link" href="{{ cta.link_location }}">{{ cta.link_text }}</a>
      </div>
    </div>
  </section>
{% endmacro %}

{% macro mobile_nav_trigger() %}
  <div class="nav-Header_Trigger">
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-top"></span>
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-middle"></span>
    <span class="nav-Header_TriggerLine nav-Header_TriggerLine-bottom"></span>
  </div>
{% endmacro %}
