<a class="art-Card" href="{{ object.get_absolute_url() }}">
  {% set card_image = object.card_image or object.image %}
  {% if card_image %}
    <div class="art-Card_ImageContainer">
        {{ render_lazy_image(card_image, width=192, height=108) }}
    </div>
  {% endif %}

  <div class="art-Card_Body">
    <h3 class="art-Card_Title">{{ object }}</h3>

    <p class="art-Card_Meta">
      {{ object.start_date|date('d F, Y') }}{% if object.start_date != object.end_date %} - {{ object.end_date|date('d F, Y') }}{% endif %}
    </p>

    {% if object.get_summary() %}<p class="art-Card_Text">{{ object.get_summary() }}</p>{% endif %}
  </div>
</a>
