/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
| @namespace: sec-
|
*/
.sec-Section {
  position: relative;
}

.sec-Section-coloured {
  color: #fff;
}

.sec-Section-white {
  background-color: #fff;
}

.sec-Section-black {
  background-color: #000;
}

.sec-Section_Inner {
  @include Grid_Container;
}

/*
|--------------------------------------------------------------------------
| Section header
|--------------------------------------------------------------------------
| Includes the title and optional text.
|
*/
.sec-Section_Header {
  margin-bottom: 1vr;

  text-align: center;

  @media (--sm) {
    width: columns(9, 12);
    margin-right: auto;
    margin-left: auto;
  }

  @media (--md) {
    width: columns(8, 12);
    margin-bottom: 1.5vr;
  }

  @media (--lg) {
    margin-bottom: 2vr;
  }
}

.sec-Section_Title {
  margin-bottom: 0.5vr;

  .sec-Section-coloured & {
    color: #fff;
  }
}

.sec-Section_Text {
  margin-top: 1vr;
}

/*
|--------------------------------------------------------------------------
| Section footer
|--------------------------------------------------------------------------
| Includes a link.
|
*/

.sec-Section_Footer {
  margin-top: 1vr;

  @media (--md) {
    margin-top: 1.5vr;
  }

  @media (--lg) {
    margin-top: 2vr;
  }
}

.sec-Section_Link {
  @include Button;
}

/*
|--------------------------------------------------------------------------
| Section extra
|--------------------------------------------------------------------------
| Other section items that can be used on multiple sections.
|
*/
.sec-Section_Columns {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  display: flex;

  @media (--sm) {
    flex-direction: row;
  }
}

.sec-Section_Columns-reverse {
  @media (--sm) {
    flex-direction: row-reverse;
  }
}

.sec-Section_Column {
  width: 100%;
  margin-bottom: 0.75vr;

  @media (--sm) {
    width: columns(6, 12);
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sec-Section_Column-wide {
  @media (--sm) {
    width: columns(7, 12);
  }
}

.sec-Section_Column-narrow {
  @media (--sm) {
    width: columns(5, 12);
  }
}
