{% macro hero(object) %}
  <header class="sec-Hero">
    <div class="sec-Hero_Inner">
      <div class="sec-Hero_Content">
        {% if object.text %}
          <p class="sec-Hero_Kicker">
            {{ object.kicker }}
          </p>
        {% endif %}

        <h1 class="sec-Hero_Title">
          {{ object.title }}
        </h1>

        {% if object.text %}
          <p class="sec-Hero_Text">
            {{ object.text|linebreaksbr }}
          </p>
        {% endif %}

        {% if object.has_link %}
          <p class="sec-Hero_Footer">
            <a class="sec-Hero_Link" href="{{ object.link_location }}">
              {{ object.link_text }}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </header>
{% endmacro %}
