/*
|--------------------------------------------------------------------------
| Split text and image section
|--------------------------------------------------------------------------
| Displays an image and text block side by side, can be image eft and text
| right or image right and text left.
|
| @namespace: sec-
|
*/
.sec-Split {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  display: flex;
}

.sec-Split-right {
  @media (--md) {
    flex-direction: row-reverse;
  }
}

.sec-Split-left {
  @media (--md) {
    flex-direction: row;
  }
}

.sec-Split_Image,
.sec-Split_Content {
  width: 100%;
}

.sec-Split_Image {
  position: relative;

  justify-self: flex-start;

  width: 100%;
  margin-top: 1vr;

  @media (--xs) {
    margin-top: 1.5vr;
  }

  @media (--md) {
    width: columns(6, 12);

    margin-top: 0;
  }

  @media (--lg) {
    width: columns(5, 12);
  }

  .img-Image {
    height: 100%;

    background: rgba(#000, 0);
  }
}

.sec-Split_Content {
  @media (--md) {
    width: columns(6, 12);
  }

  @media (--lg) {
    width: columns(5, 12);
  }
}

.sec-Split_Kicker {
  @include Font_Kicker;

  margin-bottom: 1vr;
}

.sec-Split_Title {
  margin-bottom: 1vr;
}

.sec-Split_Actions {
  margin-top: 1vr;
}

.sec-Split_Link {
  @include Button;
}
