/*
|--------------------------------------------------------------------------
| Normalize
|--------------------------------------------------------------------------
| Normalize.css is a small CSS file that provides better cross-browser
| consistency in the default styling of HTML elements.
|
*/
@import 'normalize.css';

/*
|--------------------------------------------------------------------------
| Helpers
|--------------------------------------------------------------------------
| Sass based shared helper methods that are used throughout all of our project.
|
*/
@import 'helpers/property-definitions.css';
@import 'helpers/media-definitions.css';
@import 'helpers/selector-definitions.css';
@import 'helpers/mixins/*.css';

/* Like bootstraps reboot, define some base normalized styles */
@import 'helpers/define.css';

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
| Styles that will effect most of the pages on the site and aren't specific
| to any particular part of the site.
|
*/
@import 'base/**/*.css';

/*
|--------------------------------------------------------------------------
| Globals
|--------------------------------------------------------------------------
| Parts of the site that aren't necessarily components but also aren't small
| styles that apply to most parts of the site. Good examples are the header &
| the footer
|
*/
@import 'globals/**/*.css';

/*
|--------------------------------------------------------------------------
| Modules
|--------------------------------------------------------------------------
| A collection of styles that aren't necessarily specific to an app but also
| aren't global like the header or footer. An example would be a breadcrumb
|
*/
@import 'modules/**/*.css';

/*
|--------------------------------------------------------------------------
| Apps
|--------------------------------------------------------------------------
| A component is a specific bit of code that can be reused in any context
| regardless of content.
|
*/
@import '../apps/**/assets/**/*.css';

/*
|--------------------------------------------------------------------------
| Vendor
|--------------------------------------------------------------------------
| Vendor specific files that come from `node_modules` or the very rare time
| we have to actually create a vendors folder. Stylelint is disabled for all
| vendor imports for obvious reasons.
|
*/
/* stylelint-disable */
/* stylelint-enable */

/*
|--------------------------------------------------------------------------
| Vendor overrides
|--------------------------------------------------------------------------
| Vendor files should never be edited themselves. If you want to make style
| changes to something imported then create a file in `./overrides/` with the
| same name as the 3rd party plugin
|
*/
@import 'overrides/**/*.css';
