{
  "root": true,
  "extends": [
    "standard",
    "prettier",
    "plugin:vue/essential"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "plugins": [
    "compat",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "polyfills": [
      "Array.from",
      "Object.assign",
      "window.scrollY"
    ]
  },
  "rules": {
    "compat/compat": 2,
    "no-var": [2],
    "object-shorthand": [2, "always"],
    "prefer-const": [1],
    "prefer-template": [2],
    "no-console": [1],
    "no-new": 0,
    "no-unused-vars": [1]
  }
}
