bcrypt
django-cachalot
django-compressor
django-extensions
django-flexible-images
django-historylinks
django-webpack-loader
/Users/jamesfoley/Workspace/cms
{% if cookiecutter.redirects == 'yes' %}onespacemedia-cms-redirects{% endif %}
onespacemedia-server-management
opbeat
paramiko==1.16.0
python-memcached
social-auth-app-django
Werkzeug
{% if cookiecutter.geoip == 'yes' %}geoip{% endif %}
