{% load i18n admin_urls admin_static %}

<div class="inline-group compact" id="{{ inline_admin_formset.formset.prefix }}-group" data-inline-prefix="{{ inline_admin_formset.formset.prefix }}" data-inline-verbose-name="{{ inline_admin_formset.opts.verbose_name|capfirst }}" data-inline-delete-text="{% trans "Remove" %}">
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    <div class="inline-navigation">
        <div class="inline-navigation-top"></div>
        <div class="inline-navigation-bottom"></div>
        <div class="add-row">
            <a href="#">{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|capfirst %}Add another {{ verbose_name }}{% endblocktrans %}</a>
        </div>
        <div class="inline-navigation-content">
            <ul id="section-type" class="inline-navigation-items sortable-items">
                {% for inline_admin_form in inline_admin_formset %}
                    {% if not forloop.last %}
                        <li class="sortable-item{% if forloop.last %} empty{% endif %}">
                            <span class="drag-handle">&#9776;</span>
                            <a href="#" class="inline-navigation-item{% if forloop.last %} empty{% endif %}" data-inline-related-id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                                {% if inline_admin_form.original %}
                                    {{ inline_admin_form.original }}
                                {% else %}
                                    {{ inline_admin_formset.opts.verbose_name|capfirst }} #{{ forloop.counter }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="sortable-item empty">
                <a href="#" class="inline-navigation-item{% if forloop.last %} empty{% endif %}" data-inline-related-id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                    {% if inline_admin_form.original %}
                        {{ inline_admin_form.original }}
                    {% else %}
                        {{ inline_admin_formset.opts.verbose_name|capfirst }} #{{ forloop.counter }}
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

    {% for inline_admin_form in inline_admin_formset %}
        <div class="inline-related compact{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            <h3>
                <b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b>&nbsp;
                <span class="inline_label">
                    {% if inline_admin_form.original %}
                        {{ inline_admin_form.original }}
                        {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                            <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="inlinechangelink">{% trans "Change" %}</a>
                        {% endif %}
                    {% else %}
                        #{{ forloop.counter }}
                    {% endif %}
                </span>
                {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}
              {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }} <label for="id_{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}-DELETE">{{ inline_admin_formset.opts.verbose_name|capfirst }}</label></span>{% endif %}
            </h3>
            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
            {% for fieldset in inline_admin_form %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}
            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
            {{ inline_admin_form.fk_field.field }}
        </div>
    {% endfor %}
</div>


<script type="text/javascript">
  (function($) {
    $(document).ready(function() {
      var rows = "#{{ inline_admin_formset.formset.prefix }}-group .inline-related";
      var updateInlineLabel = function(row) {
        $(rows).find(".inline_label").each(function(i) {
          var count = i + 1;
          $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
        });
      };
      var reinitDateTimeShortCuts = function() {
        // Reinitialize the calendar and clock widgets by force, yuck.
        if (typeof DateTimeShortcuts != "undefined") {
          $(".datetimeshortcuts").remove();
          DateTimeShortcuts.init();
        }
      };
      var updateSelectFilter = function() {
        // If any SelectFilter widgets were added, instantiate a new instance.
        if (typeof SelectFilter != "undefined"){
          $(".selectfilter").each(function(index, value){
            var namearr = value.name.split('-');
            SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% static "admin/" %}");
          });
          $(".selectfilterstacked").each(function(index, value){
            var namearr = value.name.split('-');
            SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% static "admin/" %}");
          });
        }
      };
      var initPrepopulatedFields = function(row) {
        row.find('.prepopulated_field').each(function() {
          var field = $(this);
          var input = field.find('input, select, textarea');
          var dependency_list = input.data('dependency_list') || [];
          var dependencies = [];
          $.each(dependency_list, function(i, field_name) {
            dependencies.push('#' + row.find('.form-row .field-' + field_name).find('input, select, textarea').attr('id'));
          });
          if (dependencies.length) {
            input.prepopulate(dependencies, input.attr('maxlength'));
          }
        });
      };
      var uncollapse = function (row) {
        $(row).removeClass('collapsed');
        $(row).find('.collapse-toggle').text("Hide");
      }
      $(rows).formset({
        prefix: "{{ inline_admin_formset.formset.prefix }}",
        addText: "{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}",
        formCssClass: "dynamic-{{ inline_admin_formset.formset.prefix }}",
        deleteCssClass: "inline-deletelink",
        deleteText: "{% trans "Remove" %}",
        emptyCssClass: "empty-form",
        removed: updateInlineLabel,
        added: (function(row) {
          initPrepopulatedFields(row);
          reinitDateTimeShortCuts();
          updateSelectFilter();
          updateInlineLabel(row);
          uncollapse(row);
          Suit.after_inline.run("{{ inline_admin_formset.formset.prefix }}", row);
        })
      });
    });
  })(django.jQuery);

  (function () {
    Sortable.create(document.getElementById('section-type'), {
      handle: '.drag-handle',
      animation: 100,
      onEnd: function (evt, originalEvent) {
        var sections = document.querySelectorAll('.sortable-item')
        for (var i = 0; i < sections.length; i++) {
          var section = sections[i];
          var relatedSection = section.querySelector('.inline-navigation-item').dataset.inlineRelatedId;
          document.querySelector('#'+relatedSection+ ' .field-order input').value = i;
        }
      },
    });
  }) ()
</script>

<style>
  .sortable-items {
    padding: 8px 0 0 10px;
    margin-bottom: 0;
    list-style-type: none;
  }

  .sortable-item {
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .sortable-item.empty {
    flex-direction: column;
    display: flex;

    padding-left: 10px;
  }

  .sortable-item.empty .drag-handle {
    display: none;
  }

  .drag-handle {
    margin-right: 10px;
  }

  .sortable-item a {
    width: 100%;
    padding-left: 10px;
  }

  .sortable-item a:hover {
    padding-left: 10px;
  }
</style>
